*.gif

EXE*

DATA*

CODE_simulator*

CODE_Simulator*

CODE_CN2D_simulator*
CODE_CN2D_ChiCalculator.cpp

CODE_XO-KA_simulator*

CODE_2D_WF_Energ*

*.zip

.directory

tmp

KDE*

*.png

!QUANTUM_CAT_Project/Towards_An_Improvement_of_the_Hermitian_Approximation/Figures/*.png

!QUANTUM_CAT_Project/Towards_An_Improvement_of_the_Hermitian_Approximation/Figures/Example_Results/*.png
